# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini